@charset "utf-8";
body{
    min-width:980px;
}
/*header*/

.utilWrap{
    border-bottom: 1px solid #000;
    
}

.util{
    width:980px;
    margin:0 auto;
    
}


.uMenu{
   _width: 330px;
   float:right;
   margin-left:auto;
}
.uMenu li{
    float:left;
    padding:0 10px;
    position:relative;
}

.uMenu li:last-child{
    padding-right:0;
}

.uMenu li a{
    display:block;
    line-height:35px;
    font-size:12px;
}

.uMenu li:after{
    content:"";
    position:absolute;
    width:1px;
    height:10px;
    background:rgb(248, 0, 0);
    right:0;
    top:12px;
}
.uMenu li:last-child:after{
    content:"";
    display: none;
}


#header h1{
    text-align: center;
    padding:10px;
}




.gnbWrap{
    background: #1d5da4;
}

.gnbMenu{
    width:980px;
    margin:0 auto;
}

.gnbMenu li{
    float:Left;
    width:calc(100% / 6);
    border-left: 1px solid #fff;
}
.gnbMenu li:last-child{
    border-right: 1px solid #fff;
}

.gnbMenu a{
    display: block;
    line-height: 40px;
    text-align: center;
    color:white;
}
.gnbMenu a:hover{
    color:darkorange;
    background:#00f;
}

/*visualWrap*/

.visualWrap{
    height: 400px;
    background:#223a6a;
    /*background-image: url(../images/main_bg01.jpg);
    background-position: center;
    background-repeat: no-repeat;*/
    background:#223a6a url(../images/main_bg01.jpg) no-repeat center;
}

.visual {
    width: 980px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow:hidden;
}

.visual .vImg1, .visual .vImg2{
    position: absolute;
    
}
.visual .vImg1{
    right: 0;
    top: -10px;
}
.visual .vImg2{
    left: 0;
    top: 76px;
}



/*section*/

.section{
    background: #eee;
}
.banner{
    width:980px;
    margin:0 auto;
}
.banner li{
    float:left;
    width:calc(100% / 5);
    padding-top: 10px;
}


.banner li a{
    display: block;
    height: 196px;
    text-align: center;
    color:white;
}

.banner li:nth-child(1){
    background: #7c99b9;
}
.banner li:nth-child(2){
    background: #7c99b9;
}
.banner li:nth-child(3){
    background: #7c99b9;
}
.banner li:nth-child(4){
    background: #7c99b9;
}
.banner li:nth-child(5){
    background: #7c99b9;
}






/*content 1st*/

.contWrap1st{
    width:980px;
    margin: 0 auto;
    
}
.contWrap1st li{
    float:left;
    width:310px;
    margin-right: 25px;
    
}

.contWrap1st li:last-child{
    margin-right: 0;
}

.contWrap1st li .body{
    padding:10px 20px 10px 20px;
    border: 1px solid #ccc;
    border-top: 0 none;
}
.contWrap1st img{
    display:block;
}

/*콘텐츠*/

/*
.btWrap{
    width:980px;
    margin: 0 auto;
}

.btWrap li{
    float:left;
    width:310px;
    margin-right: 25px;
    border: 1px solid #ccc;
   padding:25px;
    position: relative;
    
}

.btWrap li:last-child{
    margin-right: 0;
}

.btWrap img{
    position: absolute;
    top:5px;
    right:-19px;
}

.btWrap .plink{
    color:aqua;
    padding-top: 7px;
}
*/



/*footer*/
/*
footer{
    background: #535353;
    padding-bottom: 100px;
}

.footbody{
    background: #3b3b3b;
   
}
.footbody ul{
     width:980px;
    margin:0 auto;
}

.footbody li{
    float:left;
    position:relative;
}
.footbody li:after{
    position:absolute;
    width:1px;
    background:#eee;
    height:12px;
    content:"";
    right:15px;
    top:12px;
}

.footbody li:last-child:after{
    content:"";
    display:none;    
}

.footbody li a{
    color:#fff;
    padding-right:30px;
    font-size:14px;    
    line-height:35px;
}

.footbottom{
    width:980px;
    margin:0 auto;
   
    }

.footbottom h2{
    color:#fff;
    float:left;
    font-size:25px;
    line-height:90px;
}

.footbottom p{
    float:left;
    color:antiquewhite;
    font-size:18px;
    padding-top:15px ;
    padding-left:40px;
    
}



*/



/*content 2st*/

.contWrap2st{
    width: 980px;
    margin: 0 auto;
    
}
.contWrap2st li{
    position: relative;
    float: left;
    width: 310px;
    margin-right: 25px;
    border: 1px solid #ccc;
    padding: 20px;
    overflow: hidden;
}
.contWrap2st li:last-child{
    margin-right: 0;
}

.contWrap2st img{
    position: absolute;
    right: -50px;
}
.contWrap2st .body{
    width: 150px;
}

.contWrap2st .body a{
    font-size: 14px;
    color: #4b8ce0;
}

/*footer*/

#footer{
    background: #eee;
    
}

.footerTopWrap{
    background: #ccc;
}

.footerTop{
    width: 980px;
    margin: 0 auto;
    
}
.footerTop ul{
    _background: red;
    float: left;
    overflow: hidden;
}
.footerTop li{
    float: left;
    position: relative;
}
.footerTop li a{
    display: block;
    padding: 0 20px;
    line-height: 40px; 
}
.footerTop li:first-child a{
    padding-left: 0;
}

.footerTop li:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    background: #000;
    right: -1px;
    top: 20px;
}

.footerBottom{
    width: 980px;
    margin: 0 auto;
    padding: 20px 0;
}



.footerBottom h3{
    float: left;
    padding-left: 10px;
}

.footerBottom .copy{
    float: left;
    padding-left: 10px;
}







/*common*/
.mb5{
    margin-bottom:5px !important;
}
.mb10{
    margin-bottom:10px !important;
}
.mb15{
    margin-bottom:15px !important;
}
.mb20{
    margin-bottom:20px !important;
}
.mb30{
    margin-bottom:30px !important;
}


